<%-include('partials/header')%>
<h1><%=pageInfo%></h1>
<p><%=content1%></p>
<%newPosts.forEach(function(post){%>
  <h1><%=post.title%></h1>
  <p><%=post.content.substr(1,100)+"....."%><a href="/posts/<%=post.title%>">Read more</a></p>
<%})%>

<%-include('partials/footer')%>
